CSharp/MAvha.Website/App_WebReferences/MAvhaService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="List">
        <s:complexType />
      </s:element>
      <s:element name="ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListResult" type="tns:ArrayOfPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fullname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Gender" type="tns:Gender" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Gender">
        <s:restriction base="s:string">
          <s:enumeration value="Masculino" />
          <s:enumeration value="Femenino" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ListJson">
        <s:complexType />
      </s:element>
      <s:element name="ListJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="person" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListSoapIn">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ListSoapOut">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ListJsonSoapIn">
    <wsdl:part name="parameters" element="tns:ListJson" />
  </wsdl:message>
  <wsdl:message name="ListJsonSoapOut">
    <wsdl:part name="parameters" element="tns:ListJsonResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="List">
      <wsdl:input message="tns:ListSoapIn" />
      <wsdl:output message="tns:ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListJson">
      <wsdl:input message="tns:ListJsonSoapIn" />
      <wsdl:output message="tns:ListJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input message="tns:SaveSoapIn" />
      <wsdl:output message="tns:SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="List">
      <soap:operation soapAction="http://tempuri.org/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListJson">
      <soap:operation soapAction="http://tempuri.org/ListJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://tempuri.org/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListJson">
      <soap12:operation soapAction="http://tempuri.org/ListJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:49984/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:49984/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>